<html>
    <head>
        <title>Gina's amazing blog</title>
    </head>
    <h1>I'm a website!</h1>
    <h2>a little one...</h2>
    <h3>Gina's first html website!</h3>
    <body>
    <p>Gina has always wanted to know how to do html, and I really didn't think it would be this easy!</p>
    <div>
    	
    	
    </div>
    <p>still not sure how to add <strong> images </strong> though..... <br> <em>scarey!<em> <br> <br> <br> here's a link to my wix site! <a href="https://gina-rae-proxy.com">link</a> <br> That's all my illustration work.</p>
    <div>
    </div>
    <p>This is my blog section:</p>
    {{ posts }}
</html>